html, body, div, span, h1, h2, h3, h4, h5, h6, p,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, a,
dl, dt, dd, ol, ul, li,
fieldset, form, label,
table, caption, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
	vertical-align: baseline;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#headbar {
height: 5%;
width: 100%;
background-color: lightred;
display: table;
clear: both;
}
.MenuOption{
  float: left;
  position: relative;
  width: 13.3%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  font-weight: bold;
  font-size: 40;

}
.content{
  height: 95%;
  width: 100%;
}
