td {
  border: 1px solid white;
  color: white;
}
body{
  background-repeat: repeat;
  background-image: url("StarBackground.png");
}
h1{
  text-shadow: :-1px -1px 0 #ff0000,
  1px -1px #ff0000,
  -1px 1px #ff0000,
  1px 1px #ff0000;
  color: white;
}
h2{
  color:white;
}
