td {
  border: 1px solid #FF91A4;
  color: #FF91A4;
}
body{
  background-repeat: repeat;
  background-image: url("StarBackground.png");
}
h1{
  text-shadow: :-1px -1px white,1px -1px white, -1px 1px white,1px 1px white;
  color: #FF91A4;
}
h2{
  color:#FF91A4;
}
u{
  color: #FF91A4;
}
a{
  color:#FF91A4;
}
text{
  color:#FF91A4;
}
